<p class="bg-indigo-300 my-0 p-20 justify-center text-center" >Soy Verónica Vargas, profesional apasionada por la tecnología y el impacto que tiene en la vida de las personas. Después de recorrer distintas disciplinas, descubrí que la combinación de conocimiento, experiencia y creatividad es lo que nos hace únicos.
Me especializo en diseño UX/UI, desarrollo web y marketing digital, y mi objetivo es ayudarte a sacar lo mejor de vos y de tu proyecto, construyendo experiencias digitales que conecten con tus clientes y reflejen tu estilo único.
Para mí, el código es solo una herramienta: lo que realmente importa es el lado humano de la tecnología y cómo podemos usarla para generar experiencias memorables. Cada detalle de tu web —colores, tipografía, imágenes, funcionalidades— se diseña pensando en impacto, coherencia y resultados reales.
Como emprendedora, disfruto crear oportunidades y acompañar a otros a brillar. Quiero ser tu guía en este mundo digital, ayudándote a destacar tu talento, tu marca y tu negocio de manera clara, estratégica y auténtica.
</p>



<section id="proceso" class="bg-indigo-400 py-16">
  <div class="max-w-screen-xl mx-auto px-4 lg:px-8">
    <h2 class="text-3xl md:text-4xl font-extrabold text-center text-white mb-12">
      Mi proceso de trabajo
    </h2>
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
      
      <!-- Paso 1 -->
      <div class="p-6 bg-gray-800 rounded-2xl shadow hover:shadow-lg  transition">
        <div class="text-indigo-400 text-4xl font-bold mb-4"></div>
        <h3 class="text-xl font-semibold mb-2 text-white">Investigación</h3>
        <p class="text-gray-300 text-sm">
          Entiendo la marca, el público y los objetivos. Diseño con propósito.
        </p>
      </div>

      <!-- Paso 2 -->
      <div class="p-6  bg-gray-800 rounded-2xl shadow hover:shadow-lg transition">
        <div class="ttext-indigo-400 text-4xl font-bold mb-4"></div>
        <h3 class="text-xl font-semibold mb-2 text-white">Planificación</h3>
        <p class="text-gray-300 text-sm">
          Defino secciones y contenidos para una web clara y fácil de usar.
        </p>
      </div>

      <!-- Paso 3 -->
      <div class="p-6 bg-gray-800 rounded-2xl shadow hover:shadow-lg transition">
        <div class="text-indigo-600 dark:text-indigo-400 text-4xl font-bold mb-4"></div>
        <h3 class="text-xl font-semibold mb-2 text-white">Estructura</h3>
        <p class="text-gray-300 text-sm">
          Creo un esquema visual sencillo, como el plano de una casa.
        </p>
      </div>

      <!-- Paso 4 -->
      <div class="p-6 bg-gray-800 rounded-2xl shadow hover:shadow-lg transition">
        <div class=":text-indigo-400 text-4xl font-bold mb-4"></div>
        <h3 class="text-xl font-semibold mb-2 text-white">Diseño y Desarrollo</h3>
        <p class="text-gray-300 text-sm">
          Diseño y programo cuidando estética y experiencia de uso.
        </p>
      </div>

    </div>
  </div>
</section>


