

<footer class=" rounded-lg shadow-sm bg-gray-900 m-1 ">
    <div class="w-full max-w-screen-xl mx-auto p-2 md:py-8 bg-gray-900">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="./assets/logo-v.png" class="h-8 rounded-full" alt="Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Vargas Veronica</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-white sm:mb-0">
                <li>
                    <a routerLink="about" class="hover:underline me-4 md:me-6">Sobre mí</a>
                </li>
                <li>
                    <a routerLink="projects" class="hover:underline me-4 md:me-6">Proyectos</a>
                </li>
                <li>
                    <a routerLink="services" class="hover:underline me-4 md:me-6">Servicios</a>
                </li>
                <li>
                    <a routerLink="contact" class="hover:underline">Contacto</a>
                </li>
            </ul>
        </div>
        <hr class="my-6  sm:mx-auto border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center ">© 2025 <a href="https://flowbite.com/" class="hover:underline">Vargas Veronica</a>. All Rights Reserved.</span>
    </div>
</footer>

