

<nav class=" py-0 pr-3  border-gray-50 bg-gray-900">
  <div class="max-w-screen-l flex flex-wrap items-center justify-between mx-auto p-0">
    <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="./assets/logo-v.png" class="h-7 m-2 rounded-full" alt="Flowbite Logo" />
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"></span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-5 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-black focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-black dark:focus:ring-gray-500" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-50 rounded-lg bg-black text-white md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-black dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-500 text-white">
       
        <li>
          <a routerLink="about" class="block py-2 px-3 text-white rounded-sm hover:bg-black md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-white md:dark:hover:text-indigo-500 dark:hover:bg-gray-500 dark:hover:text-white md:dark:hover:bg-transparent">Sobre mí</a>
        </li>
        <li>
          <a routerLink="services" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-white md:dark:hover:text-indigo-500 dark:hover:bg-gray-500 dark:hover:text-white md:dark:hover:bg-transparent">Servicios</a>
        </li>
        <li>
          <a routerLink= "projects"  class="block py-2 px-3 text-white rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-white md:dark:hover:text-indigo-500 dark:hover:bg-gray-500 dark:hover:text-white md:dark:hover:bg-transparent">Proyectos</a>
        </li>
        <li>
          <a href="contact" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-indigo-500 md:p-0 dark:text-white md:dark:hover:text-indigo-500 dark:hover:bg-gray-500 dark:hover:text-white md:dark:hover:bg-transparent">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
